

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("marvel-custom.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    




nav {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    
    
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    width: 400px;
    display: flex;
    justify-content: center;
}

input[type=text] {
    width: 100%;
}

input[type=text], input[type=submit] {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    
    padding: 7px;
    border: 5px solid black;
    margin: 5px;


}




.wrap {
    
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width: 300px;
    text-align: center;
    float: left;
    margin: 10px;
    background-color: white;
    border: 6px solid black;
    

}

.character-image {
    width: 280px;
}

h5, .character-name {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2px;
}

p, .character-description {
    font-family: 'Lato', sans-serif;
    padding: 2px;
}









@media only screen and (max-width: 767px) {
    body {
      background-image: url("marvel-custom.png");
    }
  }